@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-progressbar
{
    width: 0;
}
#scrollPath
{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressbar
{
    position: fixed;
    top: 0; 
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #500000,#ff0000);   
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #500000,#ff0000);
    filter: blur(10px);
}
#progressbar::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #500000,#ff0000);
    filter: blur(30px);
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #646464;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .content
{
    position: absolute;
    max-width: 750px;
    text-align: center;
}
.banner .content h2
{
    color: #fff;
    font-size: 60px;
}
.banner .content p
{
    color: #fff;
    font-size: 18px;
}
.banner header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.banner header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
/*
.banner header .toggle
{
    position: relative;
    width: 36px;
    height: 28px;
    background: url(toggle.png);
    background-size: cover;
    cursor: pointer;
}
*/
.about
{
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx
{
    background: #580000;
    padding: 100px;
    width: 50%;
}
.heading
{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text 
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx
{
    background: url(bg2_asc.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}
.services
{
    background: #12222d;
    padding: 100px;
    text-align: center;
}
.services .container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
/*

.services .container .serviceBx
{
    position: relative;
    background: #fff;
    width: 1200px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .serviceBx img

{
    max-width: 100px;
}
.services .container .serviceBx h2
{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
/*
----------------------------------------------------------
.services .container .serviceCx
{
    position: relative;
    background: #fff;
    width: 550px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .serviceCx img

{
    max-width: 100px;
}
.services .container .serviceCx h2
{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
/*
----------------------------------------------------------

.services .container .serviceDx
{
    position: relative;
    background: #fff;
    width: 135px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .serviceDx img

{
    max-width: 100px;
}
.services .container .serviceDx h2
{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
*/